// @import "~video-react/styles/scss/video-react";
@import "~plyr/src/sass/plyr.scss";

.video-container {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

// .video-react .video-react-time-control {
//   display: flex;
//   align-items: center;
// }